html,body{
    margin: 0;padding: 0;
    width: 100%; height: 100%;
}
.menu ul {
    margin: 0;
    float: right;
    position: relative;
    list-style: none;
    padding-left: 20px;
    display: none;
}
.menu .title{
position: relative;
    float: right;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
}
.menu .title::before {
    margin: 10px;
    font-size: 80%;
}
.menu.open .title::before{
    margin: 10px;
}
.menu.open ul {
    position: relative;
    float: right;
    margin: 10px;
    display: block;
}